name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Android SDK
      uses: android-actions/setup-android@v3
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: list files for debug like build folder
      run: ls
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
       name: my-artifact-name # The name of the artifact
       path: ./build # The file or directory
